.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-background);
    background-image: url('../../Images/BackgroundBottom.png');
    background-size: 1px 200px;
    image-rendering: pixelated;
    background-position: bottom;
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 54ch;
    padding: 16px 16px 128px;
}

h1{
    color: rgb(255,255,255);
    text-align: center;
    letter-spacing: 0px;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
}

p{
    margin-bottom: 30px;
    color: rgb(255,255,255);
    text-align: center;
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.text a{
    cursor: pointer;
    padding: 16px 32px;
    align-items: center;
    display: inline-flex;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    position: relative;
    flex: 0 0 auto;
    background-color: rgb(240,240,240);
    color: var(--main-color-background);
    transition: all 1s ease;
}

.text a:hover{
    transform: scale(1.1) perspective(1px); 
}

.front{
    bottom: 0px;
    pointer-events: none;
    position: absolute;
    width: 540px;
    z-index: 2;
}

.front::after{
    background-image: url('../../Images/front.gif');
    background-size: cover;
    content: "";
    display: block;
    padding-top: 45%;
    width: 100%;
}

.background{
    bottom:5%;
    pointer-events: none;
    position: absolute;
    width: 1200px;
    z-index:1;
}

.background::after{
    background-image: url('../../Images/background.gif');
    background-size: cover;
    content: "";
    display: block;
    padding-top: 48%;
    width: 100%;
}