.footer {
  display: flex;
  background-color: var(--main-color-background);
  height: 60px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.footer p {
  font-size: 16px;
  color: rgb(41, 47, 53);
}

a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
