:root{
  --main-color-background: rgb(190,66,66);
  --mobile-navbar-open: none;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgb(41, 47, 53);
}

.App {
  text-align: center;
}

.header{
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: 240px 1fr 120px;
  background-color: rgb(255,255,255);
  align-items: center;
  padding-left: 24px;
}

.logo{
    color: rgb(41, 47, 53);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 28px;
    text-align: left;
}

.navbar{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.navbar a{
  display: inline-flex;
  position: relative;
  align-items: center;
  vertical-align: middle;
  height: 44px;
  color: rgb(41,47,53);
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0px 12px;
  padding: 0px 12px;
  border-radius: 4px;
}

.navbar a:hover{
  background-color: rgb(240,240,240);
}

.socials{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  background-color: var(--main-color-background);
}

.socials a{
  margin: 0px;
}

.border::after{
  bottom: -11px;
  left: 0px;
  right: 0px;
  position: absolute;
  height: 5px;
  background-color: var(--main-color-background);
  content: "";
}

.footer{
  position: absolute;
  display: flex;
  background-color: var(--main-color-background);
  height: 60px;
  bottom: 0;
  left: 0px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.footer p{
  font-size: 16px;
  color: rgb(41, 47, 53);
}

.wrapper {
height: 100vh;
overflow-y: auto;
overflow-x: hidden;
}

.icon{
  display: none;
  cursor: pointer;
}

@media (max-width:720px){
  .icon{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--main-color-background);
    order: 1;
  }

  .logo{
    order:2;
    padding-left: 24px;
  }

  .icon img{
    width: 40px;
    height: 40px;
  }
  
  .socials{
    justify-content: center;
    height: 40px;
    background-color: var(--main-color-background);
    width: 100%;
    display: var(--mobile-navbar-open);
  }

  .navbarLinks{
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar{
    width: 100%;
    display: var(--mobile-navbar-open);
    flex-direction: column;
    justify-content: start;
    padding-left: 24px;
  }

  .navbar a{
    padding: 0px;
    margin: 0px;
  }

  .border::after{
    bottom: 0px;
    left: -11px;
    right: 0px;
    position: absolute;
    height: 40px;
    width: 5px;
    background-color: var(--main-color-background);
    content: "";
  }

  .mobileNavbarWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 80px;
  }

  .header{
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
}